/* body{
  background-image: url("../../img/background.png");
  object-fit: cover;
} */
li{
  list-style: none;
}
.front-page{
  height: 1080px
}
.front{
  /* position: fixed; */
  /* margin-top: 2%; */
  padding-top: 2%;
  font-size: xxx-large;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.front-top{
  display: flex;
}

.front-time{
  display: flex;
    justify-content: center;
}
.front-weather{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
/* .front-weather-img{ */
  /* width: 255px ; */
  /* height: 250px; */
/* } */
.arrow-up{
  display: flex;
  justify-content: center;
  position: fixed !important;
  bottom: 0px;
  font-weight: 900;
  font-size: 5.5em !important;
  right: 50%;
  left: 50%;
}