.options-row{
    text-align: center;
    padding-top: 200px;
    /* justify-content: space-around; */
    /* display: flex; */
    /* top: 50%; */
    /* position: fixed; */
    /* left: 50%; */
    /* right: 50%; */
}
.options-link{
    margin: 0px 265px;
}
.options-link-img{
    /* width: 295px; */
    /* height: 150px; */
    padding: 40px;
}
/* a > img{
    width: 295px;
    height: 150px;
    padding: 90px;
    border-radius: 20px;
} */



img:hover{
    cursor: pointer;
}