.home-container {
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left: 0;
    overscroll-behavior: none;
    overflow: hidden;
    background: #ba68c8;
  }
  
  .buttons {
    display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      bottom: 20px;
      height: 9%;
  }
  .btn {
    width: 30%;
    background: white;
  }
  .touch-container {
    height: 80%;
  }