.menu {
  width: 5760px !important;
  height: 1080px !important;
  /* margin-top: 2%; */
  position: fixed;
  font-size: xx-large !important;
}
.menu-time {
  margin-left: 100px;
  padding-top: 2%
}
.menu-options {
  top: 48%;
  /* position: fixed; */
  padding-top: 7%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.menu-button {
  font-size: 75px;
  /* background-color: rgba(40, 40, 42, 0.5); */
  background-color: transparent;
  outline: none;
  border: none;
  width: 800px;
  height: fit-content;
  cursor: pointer;
  padding: 55px 0px;
  margin: 0px 270px;
  text-align: center;
}
.menu-img {
  /* width: 295px; */
  padding: 0px 65px;

  /* height: 150px; */
  /* border-radius: 20px; */
}
